.test {
  width: fit-content;
  height: fit-content;
  margin-left: 15rem;
  margin-right: 2rem;
  padding-top: 5rem;
  padding-bottom: 6rem;
}
.data {
  display: flex;
  align-items: center;
}
input {
  color: black !important;
  display: flex;
  align-items: center;
  padding: 0.6rem;
  border-radius: 4px;
  border: 1px solid gray !important;
  padding-left: 1rem;
  padding-right: 1rem;
}
.input_date {
  background-color: transparent !important;
  padding: 1rem;
}
.btn {
  border: 3px solid rgba(100, 100, 100, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  width: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff !important;
  background-size: 300%;
}
.btn1 {
  background-image: linear-gradient(to left, #6a5acd, #052aca, #6a5acd);
}
.letter {
  font-family: "Uchen", serif;
  font-size: 35px;
  margin-right: 12rem;
}
.letter2 {
  font-family: "Uchen", serif;
  font-size: 22px;
}
.letter_T {
  font-family: "Uchen", serif;
  font-size: 33px;
}
.describetitle {
  font-family: "Roboto", sans-serif, "arial";
  display: flex;
  align-content: center;
  justify-content: center;
  color: aliceblue;
  border-radius: 4px;
  background-color: #6a5acd;
  padding: 1rem;
  font-weight: 400;
}
