.test {
  width: fit-content;
  height: fit-content;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.data {
  display: flex;
  align-items: center;
}
input {
  display: flex;
  align-items: center;
  padding: 0.6rem;
  border-radius: 4px;
  border: 1px solid gray;
  padding-left: 1rem;
  padding-right: 1rem;
}
