.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 400px;
}

.title {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 5.7em;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body {
  background-image: url("data:image/svg+xml,%3Csvg data-name='Group 2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1366' height='769' viewBox='0 0 1366 769'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='1.193' y1='.101' x2='-.717' y2='1.389' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23A52EFF'/%3E%3Cstop offset='.498' stop-color='%236747F8'/%3E%3Cstop offset='.647' stop-color='%236049F7'/%3E%3Cstop offset='.863' stop-color='%234C51F4'/%3E%3Cstop offset='1' stop-color='%233D58F3'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='1.171' y1='.022' x2='.189' y2='1.068' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23fff' stop-opacity='.6'/%3E%3Cstop offset='.686' stop-color='%23fff' stop-opacity='.051'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='.699' y1='.078' x2='.209' y2='1.476' xlink:href='%23a'/%3E%3ClinearGradient id='d' x1='2.48' y1='-5.297' x2='.032' y2='2.248' xlink:href='%23a'/%3E%3ClinearGradient id='e' x1='2.465' y1='-4.879' x2='.017' y2='2.068' xlink:href='%23a'/%3E%3ClinearGradient id='f' x1='0' y1='.5' x2='1' y2='.5' xlink:href='%23b'/%3E%3C/defs%3E%3Cpath data-name='Path 2' d='M825.493 769H1366V0H787.67c-34.018 19.44-80.6 54.269-112.17 112.5-46.16 85.132-57.327 214.893 2 262 67.775 53.815 176.03-41.145 240 6 71.738 52.87 78.814 222.855-4 323-25.645 31.011-56.932 51.7-88.007 65.5Z' fill='url(%23a)'/%3E%3Cpath data-name='Path 3' d='M1230 181c15.286 107.84 67.584 118.235 80 206 17.149 121.223-59.333 264.966-124 264-47.963-.716-26.671-130.619-132-228-77.4-71.562-197.516-104.326-228-70-5.268 5.932-7.568 13.54-7.932 22.159 36.815-9.023 72.151-14.765 99.432 5.341 51.19 37.726 69.442 135.081 45.617 224.144A994.57 994.57 0 0 1 1036 685c31.9 39.344 47.912 65.3 60.586 84H1366V0h-109.987c-33.066 44.995-33.504 128.156-26.013 181Z' opacity='.3' fill='url(%23b)'/%3E%3Cpath data-name='Path 4' d='M354.425 250.868c3.09-22-44.15-65.247-90.1-79.993-13.042-4.185-88.4-28.369-114.082 36.36-5.543 13.973-16.084 46.978-5.814 60.6 9.575 12.7 56.678 9.7 122.8-13.333 69.707-24.274 85.304 9.84 87.196-3.634Z' opacity='.14' fill='url(%23c)'/%3E%3Cpath data-name='Path 5' d='M302.5 640.5C188.141 626.27 61.9 670.114 0 718.08V769h568.728c-85.86-40.69-146.415-113.591-266.228-128.5Z' fill='url(%23d)'/%3E%3Cpath data-name='Path 6' d='M0 675.837V755h523.728c-85.86-40.69-146.415-113.591-266.228-128.5C166.35 615.158 67.651 640.71 0 675.837Z' opacity='.19' fill='url(%23e)'/%3E%3Ccircle data-name='Ellipse 1' cx='11.5' cy='11.5' r='11.5' transform='translate(1096 75)' fill='%23fff' opacity='.2'/%3E%3Ccircle data-name='Ellipse 2' cx='3' cy='3' r='3' transform='translate(749 362)' fill='%23fff' opacity='.12'/%3E%3Ccircle data-name='Ellipse 3' cx='8' cy='8' r='8' transform='translate(1118 404)' fill='%23fff' opacity='.2'/%3E%3Ccircle data-name='Ellipse 4' cx='7' cy='7' r='7' transform='translate(775 35)' fill='%23fff' opacity='.13'/%3E%3Cpath data-name='Path 7' d='M816 287c27.106-49.532 13.91-119.492-20-138-25.707-14.031-48.9 9.377-72-6-22.227-14.8-19.04-48.639-19.675-73.317A271.263 271.263 0 0 0 675.5 112.5c-18.479 34.08-31.341 75.311-36.327 115.529A108.1 108.1 0 0 1 662 260c20.979 43.72 3.722 69.376 23 84 27.767 21.064 101.612-3.3 131-57Z' opacity='.3' fill='url(%23f)'/%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
}

.home2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerhome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.maindiv {
  margin-top: 10%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 40rem;
  max-height: 50rem;
}
