.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 400px;
}

.title {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 5.7em;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body {
  background: url("https://wallpaperaccess.com/full/984377.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
}

.home2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
