@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.navbar {
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10rem;
  background-color: transparent;
  justify-content: space-evenly;
}

.container span {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.title3:hover {
  color: #3afda8;
}
.title4:hover {
  color: #3afda8;
}

.title1:hover {
  color: rgb(176, 65, 255);
}

.title2:hover {
  color: rgb(176, 65, 255);
}

.title1 {
  color: rgb(65, 71, 255);
}

.title2 {
  color: rgb(65, 71, 255);
}

.title3 {
  color: rgb(255, 255, 255);
}

.title4 {
  color: rgb(255, 255, 255);
}
