.mainparking {
  padding: 2rem;
  background-color: #4d4e5c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  border-radius: 5px;
}
@media only screen and (max-width: 768px) {
  .mainparking {
    padding: 1rem;
    height: auto;
    width: 100%;
  }
}

.parking {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
}

.parking2 {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
}

.col0 {
  margin-top: 3rem;
  transform: skewY(-12deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 12rem;
}
.col1 {
  margin-top: 3rem;
  transform: skewY(12deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col2 {
  margin-top: 3rem;
  transform: skewY(-12deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col3 {
  margin-top: 3rem;
  transform: skewY(12deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12rem;
}

.parking2 .col0 {
  transform: skewY(0deg) !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

@media only screen and (max-width: 768px) {
  .parking {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .parking2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .col0,
  .col1,
  .col2,
  .col3 {
    transform: skewY(0deg);
    margin: 2rem 0;
  }

  .col0,
  .col3 {
    margin-right: 0;
    margin-left: 0;
  }
}

.A01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A03 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A04 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A05 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A06 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A07 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A08 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A09 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 5px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.B01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-right: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.B02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-right: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.B03 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-right: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.B04 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-right: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.B05 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-right: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.B06 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-right: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.B07 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-right: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.B08 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-right: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.B09 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-right: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.B10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 5px solid #fce700;
  border-right: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.C01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.C02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.C03 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.C04 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.C05 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.C06 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.C07 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.C08 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.C09 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.C10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 5px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.D01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-right: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.D02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-right: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.D03 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-right: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.D04 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-right: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.D05 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-right: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.D06 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-right: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.D07 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-right: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.D08 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-right: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.D09 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-right: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.D10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid #fce700;
  border-bottom: 5px solid #fce700;
  border-right: 5px solid #fce700;
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.E01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  height: 150px;
  width: 70px;
}
.E02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  height: 150px;
  width: 70px;
}
.E03 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  height: 150px;
  width: 70px;
}
.E04 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  height: 150px;
  width: 70px;
}
.E05 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  height: 150px;
  width: 70px;
}
.E06 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  height: 150px;
  width: 70px;
}
.E07 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  height: 150px;
  width: 70px;
}
.E08 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  height: 150px;
  width: 70px;
}
.E09 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid #fce700;
  border-bottom: 4px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  height: 150px;
  width: 70px;
}
.E10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 5px solid #fce700;
  border-bottom: 5px solid #fce700;
  border-left: 5px solid #fce700;
  color: aliceblue;
  height: 150px;
  width: 70px;
}
