.parking {
  background-color: rgba(54, 54, 54, 0.801);
  display: flex;
  height: 600px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  justify-content: space-between;
}

.col0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col4 {
  display: flex;
  vertical-align: top;
  flex-direction: column;
  justify-content: center;
}

.A01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 2.5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A03 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A04 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A05 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A06 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A07 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A08 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A09 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.B01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-right: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.B02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-right: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.B03 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-right: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.B04 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-right: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.B05 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-right: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.B06 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-right: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.B07 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-right: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.B08 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-right: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.B09 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-right: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.B10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-right: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.C01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.C02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.C03 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.C04 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.C05 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.C06 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.C07 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.C08 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.C09 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.C10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.D01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-right: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.D02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-right: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.D03 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-right: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.D04 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-right: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.D05 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-right: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.D06 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-right: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.D07 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-right: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.D08 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-right: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.D09 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-right: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.D10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-right: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.E01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.E02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.E03 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.E04 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.E05 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.E06 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.E07 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.E08 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.E09 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 4px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.E10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2.5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
