.parking {
  background-color: rgba(54, 54, 54, 0.801);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  justify-content: space-evenly;
}
.botones {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h4 {
  color: aliceblue;
}
h6 {
  color: aliceblue;
}
.col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  border-color: transparent;
  background-color: transparent;
}

.A1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.A11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.b2 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.b3 {
  background-color: greenyellow;
  box-shadow: 0 0 10px 40px rgba(172, 255, 47, 0.341);
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.b4 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.b5 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.b6 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.b7 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.b8 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.b9 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.b10 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.c1 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.c2 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.c3 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.c4 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.c5 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.c6 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.c7 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.c8 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.c9 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.c10 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.d1 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.d2 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.d3 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.d4 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.d5 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.d6 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.d7 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.d8 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.d9 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
.d10 {
  border-top: 5px solid rgb(255, 230, 0);
  border-bottom: 5px solid rgb(255, 230, 0);
  border-left: 5px solid rgb(255, 230, 0);
  color: aliceblue;
  width: 150px;
  height: 50px;
}
