.userprofile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 50px;
}

.menu {
  width: 600px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
}

.dashboard {
  width: 60%;
  height: fit-content;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 600px;
  background: #232b4a69;
  font-size: 0.65em;
  -webkit-box-shadow: 0px 0px 119px -6px rgb(168, 168, 168);
  -moz-box-shadow: 0px 0px 119px -6px rgb(168, 168, 168);
  box-shadow: 0px 0px 119px -6px rgba(168, 168, 168, 0);
}

.sidebar {
  display: flex;
  border-radius: 5px;
  width: 260px;
  height: 600px;
  background: #161b34e1;
  font-size: 0.65em;
  -webkit-box-shadow: 0px 0px 119px -6px rgba(168, 168, 168, 0.527);
  -moz-box-shadow: 0px 0px 119px -6px rgb(168, 168, 168, 0.527);
  box-shadow: 0px 0px 119px -6px rgb(168, 168, 168, 0.527);
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}
.nav ul {
  list-style: none;
}
.nav ul li {
  position: relative;
  margin: 3.2em 0;
}
.nav ul li a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: rgba(255, 255, 255, 0.739);
  display: block;
  transition: all ease-out 300ms;
}
.nav ul li.active a {
  color: white;
}
.nav ul li:not(.active)::after {
  opacity: 0.2;
}
.nav ul li:not(.active):hover a {
  color: rgba(255, 255, 255, 0.75);
}
.nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #5e42a6, #b74e91);
}
