.profilecontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.profilemain {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  height: fit-content;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 1rem;
  height: fit-content;
}
.profileedit {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 1rem;
  color: black;
}

h4 {
  color: black !important;
  padding-bottom: 1rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.col-sm-3 {
  margin-right: 0.5rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}
.btn {
  border: 3px solid rgba(100, 100, 100, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  width: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff !important;
  background-size: 300%;
}
.btn1 {
  background-image: linear-gradient(to left, #6a5acd, #052aca, #6a5acd);
}
